body { color: #555; }
h1 { font-family: Helvetica, sans-serif; font-size: medium;}
h2 { font-family: Helvetica, Arial, sans-serif; display: font-size: medium;}
h3 { font-family: Helvetica, Arial, sans-serif; display: font-size: medium;}

p { font-family: Helvetica, Tahoma; }